@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f1f1;
}

/* Utilities class LAYOUT */
.u-main-container {
  @apply max-w-6xl mx-auto px-12;
}
.u-padding-content-container {
  @apply pt-32 pb-44;
}

.u_articles_grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-8 mt-4 mb-12 list-none;
}
/* Typography */
.t-main-title {
  @apply font-inter font-bold text-zinc-900 text-4xl mb-2;
}
.t-main-subtitle {
  @apply mb-12 text-zinc-700;
}

.f_label {
  @apply block mb-2 text-gray-700 font-semibold;
}
.f_auth_input {
  @apply shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight mb-5 focus:outline-slate-400;
}
